<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    dl{
      display: none;
    }
    .list ul li:hover dl{
      display: block;
    }

  </style>
</head>
<body>

    <div class="list">
      <ul>
      <li>
        222
        <dl>
          <dd>1</dd>
          <dd>2</dd>
          <dd>3</dd>
          <dd>4</dd>
          <dd>5</dd>
        </dl>
      </li>
    
      </ul>
      </div>
</body>
</html>